<html>
  <head>
    <title>St Spyridon Grecian Festival 2016</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- Angular config -->
    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
  </head>

  <body ng-app="greekFest">
    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button aria-label="Menu" ng-init="toolbarToggle = false" ng-click="toolbarToggle = !toolbarToggle">
            <md-icon md-svg-icon="menu"></md-icon>
          </md-button>
          <h2>
            <span>St Spyridon Grecian Festival 2016</span>
          </h2>
        </div>
      </md-toolbar>
      <div layout="row">
        <md-sidenav md-is-open="toolbarToggle" layout="column" class="md-sidenav-left md-whiteframe-z2">
          <md-list>
            <md-list-item>
              <md-button aria-label="Home" href="/#/home" ng-click="toolbarToggle = !toolbarToggle">
                <md-icon md-svg-icon="home"></md-icon> Home
              </md-button>
            </md-list-item>
            <md-list-item>
              <md-button aria-label="Food" href="/#/food" ng-click="toolbarToggle = !toolbarToggle">
                <md-icon md-svg-icon="silverware-variant"></md-icon> Food
              </md-button>
            </md-list-item>
            <md-list-item>
              <md-button aria-label="Entertainment" href="/#/entertainment" ng-click="toolbarToggle = !toolbarToggle">
                <md-icon md-svg-icon="guitar-electric"></md-icon> Entertainment
              </md-button>
            </md-list-item>
            <md-list-item>
              <md-button aria-label="Sponsorship" href="/#/sponsorship" ng-click="toolbarToggle = !toolbarToggle">
                <md-icon md-svg-icon="information"></md-icon> Sponsorship
              </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>
        <md-content flex layout-padding>
          <ng-view></ng-view>
        </md-content>
      </div>
    </div>
    <md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
      <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-warn">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button style="padding-top: 8px;" aria-label="Directions" class="md-fab md-raised md-mini"
          href="https://goo.gl/maps/FtUaKwsddSk" target="_blank">
          <md-tooltip md-direction="left">
            Get directions
          </md-tooltip>
          <md-icon md-svg-icon="directions"></md-icon>
        </md-button>
        <md-button style="padding-top: 8px;" aria-label="Facebook link" class="md-fab md-raised md-mini"
          href="https://www.facebook.com/Saint-Spyridon-Grecian-Festival-718829581470780" target="_blank">
          <md-tooltip md-direction="left">
            Like on Facebook
          </md-tooltip>
          <md-icon md-svg-icon="facebook-box"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </body>
</html>
